
.container{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.image{
  display: flex;
}

.image:nth-of-type(2){
  flex-grow: 2;
}
.image:nth-of-type(1){
  flex-grow: 1;
}

.text {
  text-align: center;
  margin-top: 100px;
}

p{
  font-weight: bold;
} 

a{
  color: #2F80ED;
}
a:hover{
  color:red;
}
